@using Webshopping.Models;
@model IEnumerable<OrderModel>

@{
	ViewData["title"] = "Order Models";
	decimal total = 0; // Store total amount
	decimal subtotal = 0;
}

<!DOCTYPE html>

<html>

<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
</head>

<body>
	<h3>Danh sách đơn hàng</h3>
	<table class="table" id="myTable">
		<thead>
			<tr>
				<th>STT</th>
				<th>Mã đơn hàng</th>
				<th>Giá ship</th>
				<th>Mã giảm giá</th>
				<th>Tên khách hàng</th>
				<th>Tình trạng đơn hàng</th>
				<th>Phương thức thanh toán</th>
				<th>Ngày tạo đơn</th>
				<th>Thao tác</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>@item.Id</td>
					<td>@item.OrderCode</td>
					<td>@item.ShippingCost.ToString("#,##0 đ")</td>
					<td>@item.CouponCode</td>
					<td>@item.UserName</td>
					<td>
						@if (item.Status == 1)
						{
							<span class="text text-primary">Đơn hàng mới</span>
						}
						else if (item.Status == 2)
						{
							<span class="text text-danger">Đang giao hàng</span>
						}
						else if (item.Status == 3)
						{
							<span class="text text-success">Đã giao hàng</span>
						}
						else
						{
							<span class="text text-danger">Đã hủy</span>
						}
					</td>

					<td>
						@{
							string text = item.PaymentMethod;
							string number_split = "";
							string text_split = "";

							if (!string.IsNullOrEmpty(text))
							{
								var parts = text.Split(" ");
								if (parts.Length == 2)
								{
									text_split = parts[0];
									number_split = parts[1];
								}
								else
								{
									text_split = text;
								}
							}
						}
						@if (string.IsNullOrEmpty(item.PaymentMethod))
						{
							<span class="text text-primary">COD</span>
						}
						else
						{
							if (text_split == "MOMO")
							{
								@text_split
								<a asp-action="PaymentMomoInfo" asp-route-orderId="@number_split" asp-controller="Order">
									<span class="text text-danger">
										@number_split
									</span>
								</a>
							}
							else if (text_split == "VnPay")
							{
								@text_split
								@if (!string.IsNullOrEmpty(number_split))
								{
									<a asp-action="PaymentVnpayInfo" asp-route-orderId="@number_split" asp-controller="Order">
										<span class="text text-success">
											@number_split
										</span>
									</a>
								}
							}
						}
					</td>

					<td>@item.CreateDate.ToString("dd-MM-yyyy")</td>
					<td style="display: flex;">
						<a class="btn btn-warning btn-sm" asp-action="ViewOrder" asp-controller="Order"
							asp-route-ordercode="@item.OrderCode">Chi tiết</a>

						<a class="btn btn-danger btn-sm btn-delete" asp-action="Delete" asp-controller="Order"
							data-url="@Url.Action("Delete", "Order", new { ordercode = item.OrderCode })"
							style="margin-left: 0.4rem;" asp-route-ordercode="@item.OrderCode">Xóa</a>
					</td>
				</tr>
			}
		</tbody>
	</table>

</body>

</html>

@section Scripts {
	<script src="~/js/delete-confirm.js"></script>
}