@model MomoInfoModel
@{
    ViewData["Title"] = "Momo Info";
}
<body>
    <h3>Thông tin thanh toán</h3>
    <a class="btn btn-primary" asp-action="Index" asp-controller="Order">Trở lại</a>
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>Mã đơn hàng</th>
                <th>Thông tin đơn hàng</th>
                <th>họ và tên</th>
                <th>Số lượng</th>
                <th>Ngày thanh toántoán</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.OrderId</td>
                <td>@Model.OrderInfo</td>
                <td>@Model.FullName</td>
                <td>@Model.Amount.ToString("#,##0 VND")</td>
                <td>@Model.DatePaid.ToString()</td>
            </tr>
        </tbody>
    </table>
</body>
