@model IEnumerable<OrderDetail>
@{
    ViewData["Title"] = "Order Details";
    int stt = 1;
}

<h3>Chi tiết đơn hàng</h3>
<table class="table" id="detailOrder">
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Mã đơn hàng</th>
            <th scope="col">Người đặt</th>
            <th scope="col">Sản phẩm</th>
            <th scope="col">Giá</th>
            <th scope="col">Số lượng</th>
            <th scope="col">Tổng tiền</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@stt</td>
                <td>@item.OrderCode</td>
                <td>@item.UserName</td>
                <td>@item.Product?.Name</td> @* Hiển thị tên sản phẩm *@
                <td>@item.Price.ToString("N0") đ</td>
                <td>@item.Quantity</td>
                <td>@(item.Price* item.Quantity) đ</td>
            </tr>
            stt++;
        }
    </tbody>
</table>

@section Scripts {
    <script>
        new DataTable('#detail_order', {
            layout: {
                topStart: {
                    buttons: ['pdf', 'print']
                }
            }
        });
    </script>

    <script>
        $(document).ready(function () {
            $('.select-update-order').change(function () {
                var status = $(this).val(); //status = 1
                var ordercode = $('.getId').val(); //
                // alert(status);
                // alert(ordercode);

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateOrder")",
                    data: { status: status, ordercode: ordercode }, // Send data to the server

                    success: function (result) {
                        // Handle successful update
                        if (result.success) {
                            Swal.fire("Cập nhật đơn hàng thành công.");
                        } else {
                            Swal.fire("Cập nhật đơn hàng thất bại." + result.message);
                        }
                    }
                });
            });
        });
    </script>
}
