@using Webshopping.Models

@model IEnumerable<OrderDetail>

@{
    ViewData["title"] = "Order Details";
    decimal total = 0; // Store total amount
    decimal subtotal = 0;
    int stt = 0;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Order Details</title>
</head>

<body>

    <h3>Chi tiết đơn hàng</h3>

    <div class="table table-responsive">
        <table class="table" id="detail_order">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Mã đơn hàng</th>
                    <th>Tên người dùng</th>
                    <th>Tên sản phẩm</th>
                    <th>Đơn giá</th>
                    <th>Số lượng</th>
                    <th>Tổng</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    subtotal = item.Quantity * item.Price; //số lượng * giá
                    total += subtotal;
                    <tr>
                        <input type="hidden" asp-for="@item.OrderCode" class="getId" />
                        <td>@stt</td>
                        <td>@item.OrderCode</td>
                        <td>@item.UserName</td>
                        <td>@item.Product.Name</td>
                        <td>@item.Price.ToString("#,##0 VNĐ")</td>
                        <td>@item.Quantity</td>
                        <td>@subtotal.ToString("#,##0 VNĐ")</td>
                    </tr>
                    stt++;
                }
                <tr>
                    <td>
                        <h4>Tổng</h4>
                    </td>
                    <td></td>
                    <td></td>
                    <td>giảm giá : @ViewBag.CouponCode</td>
                    <td>Chi phí vận chuyển : @ViewBag.ShippingCost.ToString("#,##0 đ")</td>
                    <td>
                        Tổng hóa đơn: @{
                        decimal discount = 0;
                        decimal discountValue = ViewBag.DiscountValue ?? 0;
                        int discountType = ViewBag.DiscountType ?? 1;
                        decimal shipping = ViewBag.ShippingCost ?? 0;

                        if (discountType == 0)
                        {
                            // Giảm phần trăm
                            discount = total * discountValue / 100;
                        }
                        else
                        {
                            // Giảm giá cố định
                            discount = discountValue;
                        }

                        if (discount > total) { discount = total; } // tránh âm tiền
                        decimal finalTotal = total - discount + shipping;

                        @finalTotal.ToString("#,##0 đ")
                    }
                    </td>
                    <td>
                        @if (@ViewBag.Status != 3)
                        {
                            <select class="form-control select-update-order">
                                <option value="1">Đơn hàng mới</option>
                                <option value="2">Xử lý</option>
                                <option value="3">Đã xử lý</option>
                                <option value="0">Đã hủy</option>
                            </select>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
        <a class="btn btn-danger btn-sm" asp-action="Index">Quay lại</a>
    </div>
</body>

</html>

@section Scripts {
    <script>
        new DataTable('#detail_order', {
            layout: {
                topStart: {
                    buttons: ['pdf', 'print']
                }
            }
        });
    </script>

    <script>
        $(document).ready(function () {
            $('.select-update-order').change(function () {
                var status = $(this).val(); //status = 1
                var ordercode = $('.getId').val(); //
                // alert(status);
                // alert(ordercode);

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateOrder")",
                    data: { status: status, ordercode: ordercode }, // Send data to the server

                    success: function (result) {
                        // Handle successful update
                        if (result.success) {
                            Swal.fire("Cập nhật đơn hàng thành công.");
                        } else {
                            Swal.fire("Cập nhật đơn hàng thất bại." + result.message);
                        }
                    }
                });
            });
        });
    </script>
}