@model IEnumerable<CategoryModel>

@{
    ViewData["title"] = "Category Listed";
}

<h3>Danh mục</h3>

@if (TempData["success"] != null)
{
    <div class="alert alert-success notification">
        @TempData["success"]
    </div>
}

@if (TempData["error"] != null)
{
    <div class="alert alert-danger notification">
        @TempData["error"]
    </div>
}

<!-- Your other content here -->
<a asp-area="admin" asp-action="Add" asp-controller="category" class="btn btn-primary btn-sm pt-1">Thêm danh mục</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tên Danh mục</th>
            <th scope="col">Mô tả của danh mục</th>
            <th scope="col">Slug danh mục</th>
            <th scope="col">Trạng thái</th>
            <th scope="col">Thao tác</th>
        </tr>
    </thead>
    <tbody id="categoryTableBody">
        @foreach (var item in Model)
        {
            <tr>
                <th class="index-col" scope="row"></th>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Slug</td>
                <td>@item.Status</td>
                <td>
                    <a asp-action="Edit" class="btn btn-sm btn-warning" asp-controller="Product" asp-route-Id="@item.Id">
                        Sửa
                    </a>
                    <form asp-action="Delete" asp-route-id="@item.Id" method="post">
                        <button type="submit" class="btn btn-danger btn-sm">Xóa</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
