@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

@{
    ViewData["title"] = "List Role";
}

<h3>List Role</h3>

@* @if (TempData["success"] != null)
{
    <div class="alert alert-success notification">
        @TempData["success"]
    </div>
}

@if (TempData["error"] != null)
{
    <div class="alert alert-danger notification">
        @TempData["error"]
    </div>
}
 *@
<!-- Your other content here -->
<a asp-area="admin" asp-action="Create" asp-controller="Role" class="btn btn-primary btn-sm pt-1">Thêm Role</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Role Name</th>
            <th scope="col">Role</th>
            <th scope="col">Thao tác</th>
        </tr>
    </thead>
    <tbody id="categoryTableBody">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.NormalizedName</td>


                <td>
                    <a asp-action="Edit" asp-controller="Role" asp-route-id="@item.Id" class="btn btn-sm btn-warning">
                        Sửa
                    </a>
                    <form asp-action="Delete" asp-controller="Role" asp-route-id="@item.Id">
                        <button type="submit" class="btn btn-danger btn-sm">Xóa</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const rows = document.querySelectorAll("#categoryTableBody tr");
            rows.forEach((row, index) => {
                const indexCell = row.querySelector(".index-col");
                if (indexCell) {
                    indexCell.textContent = index + 1;
                }
            });
        });
    </script>
}
