@model IEnumerable<dynamic>

@{
    ViewData["title"] = "User Listed";
}

<h3>Danh sách người dùng</h3>

@if (TempData["success"] != null)
{
    <div class="alert alert-success notification">
        @TempData["success"]
    </div>
}

@if (TempData["error"] != null)
{
    <div class="alert alert-danger notification">
        @TempData["error"]
    </div>
}

@* asp-action="Add" sẽ được gọi khi có hàm Add *@
@* có thể sử dụng asp-area="admin" để ấy đường dẫn thêm admin *@
<a asp-area="admin" asp-action="Add" asp-controller="user" class="btn btn-primary btn-sm pt-1">
    Thêm người dùng
</a>

<table class="table" id="myTable">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tên tài khoản</th>
            <th scope="col">Email</th>
            <th scope="col">Số điện thoại</th>
            <th scope="col">Vai trò</th>
            <th scope="col">Thao tác</th>
        </tr>
    </thead>
    <tbody id="userTableBody">
        @{
            int index = 1;
            foreach (var user in Model)
            {
                <tr>
                    <td>@index</td>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>@user.PhoneNumber</td>
                    <td>@user.RoleName</td>
                    <td>
                        <a class="btn btn-warning btn-sm" asp-action="Edit" asp-controller="User"
                            asp-route-Id="@user.Id">Sứa</a>

                        <form asp-action="Delete" asp-route-id="@user.Id" method="post" style="display: inline-block;"
                            class="delete-form">
                            <button type="submit" class="btn btn-danger btn-sm">
                                Xóa
                            </button>
                        </form>
                    </td>
                </tr>
                index++;
            }
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Lặp qua từng dòng trong tbody và đánh số thứ tự
            $('#userTableBody tr').each(function (index) {
                $(this).find('.index-col').text(index + 1);
            });
        });
    </script>

    <script src="~/js/delete-confirm.js"></script>
}