@using Webshopping.Models

@model IEnumerable<OrderModel>

@{
    ViewData["Title"] = "List Orders History" + @ViewBag.UserEmail;

}

<!DOCTYPE html>

<html>
    
<head>
    <meta name="viewport" content="width=device-width" />

</head>
    
<body>
    <h3>Danh sách đơn hàng của @ViewBag.UserEmail</h3>

    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Mã đơn hàng</th>
                <th>Tên</th>
                <th>Phí vận chuyển</th>
                <th>Mã giảm giá</th>
                <th>Phương thức thanh toán</th>
                <th>Trạng thái</th>
                <th>Ngày</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.OrderCode</td>
                    <td>@item.UserName</td>
                    <td>@item.ShippingCost.ToString("#,##0 đ")</td>
                    <td>@item.CouponCode</td>
                    <td>
                        @if (item.PaymentMethod == "COD")
                        {
                            <span class="text text-primary">@item.PaymentMethod</span>
                        }
                        else if (item.PaymentMethod != "COD")
                        {
                            <span class="text text-success">@item.PaymentMethod</span>
                        }
                    </td>
                    <td>
                        @if (item.Status == 1)
                        {
                            <span class="text text-success">Đơn hàng mới</span>
                        }
                        else if (item.Status == 2)
                        {
                            <span class="text text-success">Đã giao hàng</span>
                        }
                        else
                        {

                            <span class="text text-danger">Đã hủy</span>
                        }
                    </td>
                    <td>@item.CreateDate.ToString("dd-MM-yyyy")</td>
                    <td>

                        @if (item.Status != 3) // Kiểm tra nếu đơn hàng chưa bị hủy
                        {
                            <a onclick="return confirm('Bạn xác nhận muốn hủy?')" class="btn btn-danger btn-sm"
                                asp-action="CancelOrder" asp-controller="Account" asp-route-ordercode="@item.OrderCode">
                                Hủy đơn hàng
                            </a>
                        }
                        else
                        {
                            <span class=" text-danger ">Đã hủy</span> <!-- Hiển thị "Đã hủy" thay vì nút -->
                        }
                        @*  <a onclick="return confirm('Bạn xác nhận muốn hủy?')" class="btn btn-warning btn-sm" asp-action="CancelOrder" asp-controller="Account" asp-route-ordercode="@item.OrderCode">Hủy đơn hàng</a>
*@
                    </td>
                </tr>
            }
        </tbody>
    </table>

</body>

</html>
