@using Webshopping.Models
@model IEnumerable<BrandModel>

@{
    ViewData["title"] = "List Brand";
}

<h3>Danh sách thương hiệu</h3>

@if (TempData["success"] != null)
{
    <div class="alert alert-success notification">
        @TempData["success"]
    </div>
}

@if (TempData["error"] != null)
{
    <div class="alert alert-danger notification">
        @TempData["error"]
    </div>
}

@if (User.IsInRole("Employee"))
{
    <a asp-area="admin" asp-action="Add" asp-controller="brand" class="btn btn-primary btn-sm pt-1">Thêm thương hiệu</a>
}

<table class="table display" id="myTable">
    <thead>
        <tr>
            <th>STT</th>
            <th>Tên thương hiệu</th>
            <th>Mô tả của thương hiệu</th>
            <th>Slug thương hiệu</th>
            <th>Trạng thái</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @{
            int stt = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>@stt</td>
                <td>@item.Name</td>
                <td>@Html.Raw(item.Description)</td>
                <td>@item.Slug</td>
                <td>
                    @if (item.Status == 1)
                    {
                        <span class="text-success">Hiển thị</span>
                    }
                    else
                    {
                        <span class="text-secondary">Ẩn</span>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-controller="Brand" asp-route-id="@item.Id"
                        class="btn btn-sm btn-warning">Sửa</a>
                    <form asp-action="Delete" asp-controller="Brand" asp-route-id="@item.Id" method="post"
                        style="display:inline;">
                        <button type="submit" class="btn btn-danger btn-sm">Xóa</button>
                    </form>
                </td>
            </tr>
            stt++;
        }
    </tbody>
</table>
